/*单独引入,保险h5页面*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",SimSun,sans-serif;
    font-size: 26px;
    line-height: 1.5;
    color: #666;
    background: #fff;
    word-break: break-all;
}

.ClearFix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }

.ClearFix {
   *display: inline-block;
   _height: 1%;
}

input,button,select,textarea{
    outline:none
}

a {
    text-decoration: none;
    cursor: pointer;
}

.swiper-container {
    width: 100%;
    height: 425px;
    display: none;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #2eabf5;
    background: #fff;
}
.swiper-pagination-bullet-active {
    background: #2eabf5;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 20px;
}

.InsuranceWebWrapper h2 {
    position: relative;
    margin: 60px 40px;
    border: 2px solid #2eabf5;
}

.InsuranceWebWrapper h2 .Title {
    position: absolute;
    margin: 0 auto;
    top: -22px;
    /*left: 60px;*/
    width: 100%;
    display: inline-block;
    height: 28px;
    background: transparent;
    font-size: 28px;
    color: #2eabf5;
    text-align: center;
}

.InsuranceWebWrapper h2 .Title span {
    padding: 0 15px;
    background: #fff;
}

.InsuranceWebWrapper h3 {
    height: 93px;
    line-height: 93px;
    font-size: 30px;
    color: #4b4b4b;
    font-weight: bold;
    text-align: center;
    background: #f5f6f6;
}

.InsuranceWebWrapper h4 {
    height: 90px;
    line-height: 90px;
    font-size: 28px;
    color: #4b4b4b;
    font-weight: normal;
    text-align: center;
    border: 1px solid #e8eff1;
}

.InsuranceWebWrapper .Group {
    text-align: right;
    font-size: 26px;
    color: #666;
    height: 109px;
    line-height: 109px;
    border: 1px solid #e8eff1;
}
.InsuranceWebWrapper .Group label {
    margin-left: 30px;
    float: left;
}

.InsuranceWebWrapper .Group .Unit {
    margin-right: 30px;
}

.InsuranceWebWrapper .Group input {
    width: 270px;
    height: 90px;
    line-height: 90px;
    font-size: 26px;
    color: #b5bcbf;
    text-align: right;
    border: 0;
}

.InsuranceWebWrapper .Border {
    height: 10px;
    background: #f5f6f6;
}

.InsuranceWebWrapper .Group .LeftInput {
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    height: 68px;
    line-height: 68px;
    width: 178px;
    padding: 0 20px;
    border: 1px solid #c7cdd0;
    text-align: left;
}

.BtnWrapper {
    padding-top: 60px;
    padding-bottom: 110px;
    background: #f5f6f6;
    text-align: center;
}

.BtnWrapper Button {
    height: 90px;
    line-height: 90px;
    width: 480px;
    font-size: 32px;
    color: #fff;
    text-align: center;
    border: none;
    background: #2eabf5;
}

.swiper-container .swiper-wrapper img {
    width: 100%;
    height: 425px;
}

.CheckImgWrapper img {
    float: left;
    margin-top: 35px;
    margin-right: 20px;
}