<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">

    <Properties>
        <Property name="directory">/usr/local/var/log/haoche/haoche-bos</Property>
        <Property name="filename">info.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%-5level}{STYLE=Logback} %logger{36} - %msg%n%throwable"/>
        </Console>

        <RollingFile name="RollingOperationFile" fileName="${directory}/operation.log"
                     filePattern="${directory}/$${date:yyyy-MM-dd}/operation/%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8"
                           pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} [%t] %-5level %logger{36} - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="50MB"/>
        </RollingFile>

        <RollingFile name="RollingInfoFile" fileName="${directory}/${filename}"
                     filePattern="${directory}/$${date:yyyy-MM-dd}/info/%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8"
                           pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} [%t] %-5level %logger{36} - %msg%xEx%n"/>
            <!--<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <SizeBasedTriggeringPolicy size="50MB"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.qkhc.haoche" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingInfoFile"/>
        </Logger>

        <logger name="com.github.isrsal.logging.LoggingFilter" level="DEBUG" additivity="false">
            <appender-ref ref="RollingInfoFile"/>
        </logger>

        <Logger name="com.qkhc.haoche.com.haoche.bos.repository.HaocheRepositoryEventListener" level="INFO" additivity="false">
            <AppenderRef ref="RollingOperationFile"/>
        </Logger>

        <Logger name="com.qkhc.haoche.com.haoche.bos.service.LoginSuccessHandler" level="INFO" additivity="false">
            <AppenderRef ref="RollingOperationFile"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingInfoFile"/>
        </Root>
    </Loggers>

</Configuration>